<div class="chart">
  <div class="chart-title">
    {{cateTypeName}}成交指数{{cateType}}
    <span (click)="changeOilDay(0)" [class.on]="oilDay==0">近三个月</span>
    <span (click)="changeOilDay(30)" [class.on]="oilDay==30">近一个月</span>
    <span (click)="changeOilDay(7)" [class.on]="oilDay==7">近七天</span>
  </div>
  <div class="point-target" *ngIf="oiltarget" [class]="targetClass">
    <div>时间：<span class="time">{{targetTime}}</span></div>
    <div>指数：<span class="num">{{targetPrice}}</span></div>
    <div>涨跌：<span class="vary">{{targetVary}}</span></div>
  </div>
  <div class="point-text" *ngIf="oiltarget==false">手指移至下方曲线图上，可查具体每日数值</div>
  <div>
    <chart [options]="options" id="container">
      <series>
        <point (select)="onPointSelect($event)"></point>
      </series>
    </chart>
  </div>

</div>
